.LambayiAc{
    background-color: #3393FF;
    width: 13rem;
    height: 3rem;
    color: white;
    text-align: center;
    font-family: montserrat;
    padding-top: 2px;
    font-size: 18px;
    margin-left: 45rem;
    margin-top: 2rem;
    display: inline-block;
}

.LambayiKapat{
    background-color: #3393FF;
    width: 13rem;
    height: 3rem;
    color: white;
    text-align: center;
    font-family: montserrat;
    padding-top: 2px;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;
}

#lamba{
    margin-top: 4rem;
    margin-left: 45rem;
    width: 27rem;
    height: 32rem;
}